test.dat
pysvc_wcdoc.pyc
.vs/pySvcWCDoc/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite

.idea/dictionaries/wguo.xml
.idea/workspace.xml
usp_appsettings.pyc
__pycache__/usp_appsettings.cpython-34.pyc
app.ini
pysvc_wcdoc.ico
DeletePySvc.exe.lnk
ReInstallpySvc.bat
.gitignore
venv34/py34 - Shortcut.lnk
venv34/pyvenv.cfg
venv34/Lib/site-packages/easy_install.py
venv34/Lib/site-packages/__pycache__/easy_install.cpython-36.pyc
venv34/Lib/site-packages/pip/__init__.py
venv34/Lib/site-packages/pip/__main__.py
venv34/Lib/site-packages/pip/basecommand.py
venv34/Lib/site-packages/pip/baseparser.py
venv34/Lib/site-packages/pip/cmdoptions.py
venv34/Lib/site-packages/pip/download.py
venv34/Lib/site-packages/pip/exceptions.py
