test.dat
pySvcWCDoc.ini
pySvcWCDoc.pyc
.vs/pySvcWCDoc/v15/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
pySvcLog.log
auxiliary_module.pyc
auxiliary_module.py
__pycache__/auxiliary_module.cpython-34.pyc
.idea/dictionaries/wguo.xml
.idea/workspace.xml
usp_appsettings.pyc
__pycache__/usp_appsettings.cpython-34.pyc
app.ini
